{% load static %}

<section id="clients" class="clients">
  <div class="container" data-aos="zoom-in">
    <h4 class="text-center"><strong>OUR PARTNERS</strong></h4>
    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img src="{% static 'assets/img/partners/cosco.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/partners/intellectsoft.jpg' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/partners/mubseiic.jpg' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/partners/pepsi.jpg' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/partners/proswift.jpg' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/partners/supercom.jpg' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/partners/wave.jpg' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'assets/img/partners/partner-8.png' %}" class="img-fluid" alt=""></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section> 
