 
 {% load static %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="\"><strong>HOME</strong></a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="\aboutus"><strong>ABOUT</strong></a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="\events"><strong>SERVICES</strong></a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="\projects"><strong>FEATURES</strong></a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="\carbinet"><strong>BLOG</strong></a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="\contact"><strong>CONTACT</strong></a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Activities</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="\events">TAX CLEARANCE</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="\events">TAX CONSULTANCY</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="\events">CARGO TRANSPORT</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Nakawa, Kampala <br>
              Uganda <br><br>
              <strong>Phone:</strong> +256 701 453639<br>
              <strong>Phone:</strong> +256 787 269229<br>
              <strong>Email:</strong> geroma@gmail.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="{% static 'assets/img/geromalogoicon.png' %}" style="border-radius: 2rem;" alt="">
            <h3>ABOUT GEROMA</h3>
            <p>SICA is Students Information & Computing Association the MUBS ICT Association that officially came into existence in Makerere University Business School on 7th September 2018.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <strong>&copy;</strong><strong><span>GeromaLogisticsLimited<script>document.write(new Date().getFullYear());</script>. All Rights Reserved</span></strong>
      </div>
      <div class="credits">
        <strong>Designed By </strong><a href="https://latrondav.github.io/lardfolio/"><strong>LARDevs</strong></a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

      <!-- Vendor JS Files -->
      <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
      <script src="{% static 'assets/js/popper.js' %}"></script>
      <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
      <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
      <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
      <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
      <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  
      <!-- Template Main JS File -->
      <script src="{% static 'assets/js/main.js' %}"></script>
  
      <script>
        $('#LoginModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget)
        })
      
        $('#RegisterModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget)
        })
      
        $('#YourAccountModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget)
        })
      
        $('#OrderFormModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget)
        })
      
        $('#OrderTableModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget)
        })
      
        $('#ViewAttendanceModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget)
        })
      
        $('#ViewHistoryModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget)
        })

        $('#AddEventModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget)
        })

        $('#PassResetFormModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget)
        })

        $('#PassChangeFormModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget)
        })

        $('#UpdateAccountProfileFormModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget)
        })
        
      </script>
      