<!DOCTYPE html>
<html lang="en">

  {% load static %}

  <title>SICA MUBS - ALUMNI CARBINET</title>

  {% include 'includes/head.html'%}

  <body>

    {% include 'includes/header.html' %}

    {% if user.is_superuser %}

      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-content-center align-items-center">

      <div class="wave">

          <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
              </g>
            </g>
          </svg>

        </div>

      <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
        <div class="carousel-item active">
          <div class="carousel-container">
            <img src="{% static 'assets/img/NewSica.jpg' %}" style="width: 150px; height: 75px; border-radius: 2rem;" alt="">
            <h2 class="animate__animated animate__fadeInDown">SICA ALUMNI CARBINETS</h2>
          </div>
        </div>
      </div>
      </section>
      <!-- End Hero -->
    
      <!-- Main -->
      <main id="main">

      <!-- ======= Feature Section ======= -->
      <section id="project" class="project section-bg">
          <div class="container" data-aos="fade-up">
            <div class="section-title"></div>
            <div class="text-center">
              <a class="btn btn-feature" data-toggle="modal" data-target="#AlumniCarbinetModal"><strong>ADD SICA ALUMNI CARBINET</strong></a>
            </div>
            <div class="row">
              {% for Alumni in Alumnus %}
                <section class="section">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-md-4 ms-auto order-2">
                        <h2 class="mb-4"><strong>{{ Alumni.carbinet_academic_year }}</strong></h2>
                        <p class="mb-4" style="text-align: justify;">
                          {{ Alumni.carbinet_description }}
                        </p>
                        <button class="btn-feature"><strong>VIEW CARBINET</strong></button>
                      </div>
                    <div class="col-md-6" data-aos="fade-left">
                      {% if member_details.members.member_image %}
                        <img src="{{ Alumni.carbinet_image.url }}" style="border-radius: 25%;" alt="Image" class="img-fluid">
                      {% endif %}
                    </div>
                    </div>
                  </div>
                </section>
              {% endfor %}
            </div>
          </div>
      </section>
      <!-- End Feature Section -->

      <!--================ Model Area =================-->    

      <div class="modal fade" id="AlumniCarbinetModal" tabindex="-1" role="dialog" aria-labelledby="AlumniCarbinetModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close btn-danger" style="border-radius: 10rem;"data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div class="modal-body">
            <form action=""  method="POST" class="home-form">
              {% csrf_token %}
                <div class="form-group">
                  <div class="text-center">
                    <img src="{% static 'assets/img/NewSica.jpg' %}" style="width: 150px; height: 75px; border-radius: 2rem;" alt="">
                  </div>
                </div>
                <div class="form-group">
                  <div class="text-center text-white">
                    <h2><strong>ALUMNI CARBINET FORM</strong></h2>
                  </div>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>CARBINET NAME</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="carbinet_name" name="carbinet_name" placeholder="eg. SICA CARBINET 1900/1901" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>CARBINET DESCRIPTION</strong></label></div>
                  <textarea class="form-control text-center" rows="5" style="border-radius: 5rem;" id="carbinet_description" name="carbinet_description" placeholder="ie. say something about the carbinet" required></textarea>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>CARBINET IMAGE</strong></label></div>
                  <input type="file" class="form-control text-center" style="border-radius: 5rem;" id="carbinet_image" name="carbinet_image" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>PRESIDENT</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="president" name="president" placeholder="ie. presidents name" required>
                </div>
                
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>VICE PRESIDENT</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="vice_president" name="vice_president" placeholder="ie. vice presidents name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>GENERAL SECRETARY</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="general_secretary" name="general_secretary" placeholder="ie. general secretary name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>SECRETARY</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="secretary" name="secretary" placeholder="ie. secretary name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>SPEAKER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="speaker" name="speaker" placeholder="ie. speaker name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>DEPUTY SPEAKER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="deputy_speaker" name="deputy_speaker" placeholder="ie. deputy speaker name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>FINANCE MANAGER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="finance_manager" name="finance_manager" placeholder="ie. finance manager name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>DEPUTY FINANCE MANAGER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="deputy_finance_manager" name="deputy_finance_manager" placeholder="ie. deputy finance manager name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>LEGAL ADVISOR</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="legal_advisor" name="legal_advisor" placeholder="ie. legal advisor name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>CHIEF EDITOR</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="chief_editor" name="chief_editor" placeholder="ie. chief editor name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>DEPUTY CHIEF EDITOR</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="deputy_chief_editor" name="deputy_chief_editor" placeholder="ie. deputy chief editor name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>PUBLIC RELATIONS MANAGER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="public_relations_manager" name="public_relations_manager" placeholder="ie. public relations manager name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>DEPUTY PUBLIC RELATIONS MANAGER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="deputy_public_relations_manager" name="deputy_public_relations_manager" placeholder="ie. deputy public relations manager name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>ORGANIZING SECRETARY</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="organizing_secretary" name="organizing_secretary" placeholder="ie. organizing secretary name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>DEPUTY ORGANIZING SECRETARY</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="deputy_organizing_secretary" name="deputy_organizing_secretary" placeholder="ie. deputy organizing secretary name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>PROJECT MANAGER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="project_manager" name="project_manager" placeholder="ie. project manager name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>DEPUTY PROJECT MANAGER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="deputy_project_manager" name="deputy_project_manager" placeholder="ie. deputy project manager name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>EVENTS MANAGER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="events_manager" name="events_manager" placeholder="ie. events manager name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>DEPUTY EVENTS MANAGER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="deputy_events_manager" name="deputy_events_manager" placeholder="ie. deputy events manager name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>MOBILISER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="mobiliser" name="mobiliser" placeholder="ie. mobiliser name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>DEPUTY MOBILISER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="deputy_mobiliser" name="deputy_mobiliser" placeholder="ie. deputy mobiliser name" required>
                </div>
                <div class="form-group">
                  <div class="text-white text-center"><label><strong>INCLUSIVE OFFICER</strong></label></div>
                  <input type="text" class="form-control text-center" style="border-radius: 5rem;" id="inclusive_officer" name="inclusive_officer" placeholder="ie. inclusive officer name" required>
                </div>
                <div class="form-group">
                  <div class="text-center">
                    <button type="submit" class="home-btn"><strong>ADD ALUMNI CARBINET</strong></button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
      </div>

      <!--================ End Modal Area =================-->

      <!-- ======= Clients Section ======= -->
      {% include 'includes/clients.html' %}
      <!-- End Clients Section -->

      <!-- ======= Modal Area ======= -->
      {% include 'includes/profilemodal.html' %}

      {% include 'passwordmgt/pw_change_form.html' %}
      <!-- End Modal Area -->

      </main>
      <!-- End #main -->

    {% elif user.is_staff %}

      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-content-center align-items-center">

      <div class="wave">

          <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
              </g>
            </g>
          </svg>

        </div>

      <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
        <div class="carousel-item active">
          <div class="carousel-container">
            <img src="{% static 'assets/img/NewSica.jpg' %}" style="width: 150px; height: 75px; border-radius: 2rem;" alt="">
            <h2 class="animate__animated animate__fadeInDown">SICA ALUMNI CARBINETS</h2>
          </div>
        </div>
      </div>
      </section>
      <!-- End Hero -->
    
      <!-- Main -->
      <main id="main">

      <!-- ======= Feature Section ======= -->
      <section id="project" class="project section-bg">
          <div class="container" data-aos="fade-up">
            <div class="section-title"></div>
            <div class="row">
              <section class="section">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-md-4 ms-auto order-2">
                      <h2 class="mb-4"><strong>SICA CARBINET 2021/2022</strong></h2>
                      <p class="mb-4" style="text-align: justify;">
                        The sica carbinet of 2021/2022 was a such wondeful group of sica leader with jane as the president at that time
                      </p>
                      <button class="btn-feature"><strong>VIEW CARBINET</strong></button>
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                      <img src="assets/img/features/sicashirt.jpg" style="border-radius: 25%;" alt="Image" class="img-fluid">
                   </div>
                </div>
              </section>
            </div>
          </div>
      </section>
      <!-- End Feature Section -->

      <!-- ======= Clients Section ======= -->
      {% include 'includes/clients.html' %}
      <!-- End Clients Section -->

      <!-- ======= Modal Area ======= -->
      {% include 'includes/profilemodal.html' %}

      {% include 'passwordmgt/pw_change_form.html' %}
      <!-- End Modal Area -->

      </main>
      <!-- End #main -->

    {% elif user.is_active %}

      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-content-center align-items-center">

        <div class="wave">

            <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                  <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
                </g>
              </g>
            </svg>

          </div>

        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
          <div class="carousel-item active">
            <div class="carousel-container">
              <img src="{% static 'assets/img/NewSica.jpg' %}" style="width: 150px; height: 75px; border-radius: 2rem;" alt="">
              <h2 class="animate__animated animate__fadeInDown">SICA ALUMNI CARBINETS</h2>
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero -->
      
      <!-- Main -->
      <main id="main">

        <!-- ======= Feature Section ======= -->
        <section id="project" class="project section-bg">
            <div class="container" data-aos="fade-up">
              <div class="section-title"></div>
              <div class="row">
                <section class="section">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-md-4 ms-auto order-2">
                        <h2 class="mb-4"><strong>SICA CARBINET 2021/2022</strong></h2>
                        <p class="mb-4" style="text-align: justify;">
                          The sica carbinet of 2021/2022 was a such wondeful group of sica leader with jane as the president at that time
                        </p>
                        <button class="btn-feature"><strong>VIEW CARBINET</strong></button>
                      </div>
                      <div class="col-md-6" data-aos="fade-left">
                        <img src="assets/img/features/sicashirt.jpg" style="border-radius: 25%;" alt="Image" class="img-fluid">
                     </div>
                  </div>
                </section>
              </div>
            </div>
        </section>
        <!-- End Feature Section -->

        <!-- ======= Clients Section ======= -->
        {% include 'includes/clients.html' %}
        <!-- End Clients Section -->

        <!-- ======= Modal Area ======= -->
        {% include 'includes/profilemodal.html' %}

        {% include 'passwordmgt/pw_change_form.html' %}
        <!-- End Modal Area -->

      </main>
      <!-- End #main -->

    {% else %}

      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-cntent-center align-items-center">

        <div class="wave">

            <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                  <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
                </g>
              </g>
            </svg>

          </div>

        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
          <div class="carousel-item active">
            <div class="carousel-container">
              <img src="{% static 'assets/img/NewSica.jpg' %}" style="width: 150px; height: 75px; border-radius: 2rem;" alt="">
              <h2 class="animate__animated animate__fadeInDown">SICA ALUMNI CARBINET</h2>
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero -->
      
      <!-- Main -->
      <main id="main">
          <!-- ======= Feature Section ======= -->
          <section id="project" class="project section-bg">
            <div class="container" data-aos="fade-up">
              <div class="section-title"></div>
              <div class="row">
                <section class="section">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-md-4 ms-auto order-2">
                        <h2 class="mb-4"><strong>SICA CARBINET 2021/2022</strong></h2>
                        <p class="mb-4" style="text-align: justify;">
                          The SICA MUBS Shirt is Always customised for the SICA Executives. This Uniquely Identifies the SICA Executives from other Members.
                        </p>
                        <button class="btn-feature" ><strong>VIEW CARBINET</strong></button>
                      </div>
                      <div class="col-md-6" data-aos="fade-left">
                        <img src="assets/img/features/sicashirt.jpg" style="border-radius: 25%;" alt="Image" class="img-fluid">
                      </div>
                    </div>
                  </div>
                </section>
            
                <section class="section">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-md-4 ms-auto order-2">
                        <h2 class="mb-4" style="text-align: right;"><strong>SICA CARBINET 2020/2021</strong></h2>
                        <p class="mb-4" style="text-align: justify;">
                          The SICA MUBS T-Shirt is another SICA MUBS Feature that is Open Source to All SICA Members and the Public.
                        </p>
                        <button class="btn-feature" ><strong>VIEW CARBINET</strong></button>
                      </div>
                      <div class="col-md-6" data-aos="fade-right">
                        <img src="assets/img/features/sicatshirt.jpg" style="border-radius: 25%;" alt="Image" class="img-fluid">
                      </div>
                    </div>
                  </div>
                </section>
            
                <section class="section">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-md-4 ms-auto order-2">
                        <h2 class="mb-4"><strong>SICA CARBINET 2019/2020</strong></h2>
                        <p class="mb-4" style="text-align: justify;">
                          All fully registered SICA Members are given SICA ID's that come with Special Previlleges such free Visits in different SICA out Reaches Like Multi Choice, Abacom, Andela, Supercom Ltd among others for industry training, Pratice and Training in the business world.
                        </p>
                        <button class="btn-feature"><strong>VIEW CARBINET</strong></button>
                      </div>
                      <div class="col-md-6" data-aos="fade-left">
                        <img src="assets/img/features/sicaid.jpg" style="border-radius: 25%;" alt="Image" class="img-fluid">
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </section>
          <!-- End Feature Section -->

        <!-- ======= Clients Section ======= -->
        {% include 'includes/clients.html' %}
        <!-- End Clients Section -->

      </main>
      <!-- End #main -->

    {% endif %}

    {% include 'includes/footer.html' %}

  </body>
  
</html>