<!DOCTYPE html>
<html lang="en">

  {% load static %}

    <title>GEROMA - BLOG</title>

 {% include 'includes/head.html'%}
  
  <body>
  
    {% include 'includes/header.html' %}

      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-cntent-center align-items-center">
    
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
    
          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="carousel-container">
              <img src="{% static 'assets/img/geromalogoicon.png' %}" style="border-radius: 2rem;" alt="">
              
              {% if Query %}
                <h2 class="animate__animated animate__fadeInDown">Blog Search Results For "{{ Query }}"</h2>
              {% else %}
                <h2 class="animate__animated animate__fadeInDown">OUR BLOG</h2>
              {% endif %}
            </div>
            
          </div>
    
          
    
        </div>
      </section>
      <!-- End Hero -->

      <!-- Main -->
      <main id="main">
        
        <div class="section-title">
          {% if Query %}
            <h2 class="text-white">Blog Search Results For "{{ Query }}"</h2>
          {% else %}
            <h2 class="text-white">Blog</h2>
          {% endif %}
        </div>

        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog section-bg" style="background: linear-gradient(rgba(5, 87, 158, 0.9), rgba(5, 87, 158, 0.6)), url('{% static 'assets/img/about1.jpg' %}') center/cover no-repeat; color: #fff;">
          <div class="container" data-aos="fade-up">

            <div class="row">

              <div class="col-lg-4">

                <div class="sidebar">

                  <h3 class="sidebar-title">Search</h3>
                  <div class="sidebar-item search-form">
                    <form action="/blogsearch/" method="POST">
                      {% csrf_token %}
                      <input type="text" name="blogsearch" id="blogsearch" placeholder="Blog Search" required>
                      <button type="submit"><i class="bi bi-search"></i></button>
                    </form>
                  </div><!-- End sidebar search formn-->

                  <h3 class="sidebar-title">Categories</h3>
                  <div class="sidebar-item categories">
                    <ul>
                      {% for Category in Categories %}
                        <li><a href="#">{{ Category.blog_category }} <span>({{ Category.blog_category }})</span></a></li>
                      {% endfor %}
                    </ul>
                  </div><!-- End sidebar categories-->

                </div><!-- End sidebar -->

              </div><!-- End blog sidebar -->

              <div class="col-lg-8 entries">

                {% for Blog in Blogs %}
                  <article class="entry">

                    <div class="entry-img">
                      <img src="{{ Blog.blog_image.url }}" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                      <a href="/blogdetail/{{ Blog.id }}/">{{ Blog.blog_title }}</a>
                    </h2>

                    <div class="entry-meta">
                      <ul>
                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/blogdetail/{{ Blog.id }}/">{{ Blog.blog_author.first_name }} {{ Blog.blog_author.last_name }}</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/blogdetail/{{ Blog.id }}/"><time datetime="2020-01-01">{{ Blog.date }}</time></a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/blogdetail/{{ Blog.id }}/">{{ Blog.blog_category }}</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/blogdetail/{{ Blog.id }}/">{{ Blog.num_comments }} Comments</a></li>
                      </ul>
                    </div>

                    <div class="entry-content">
                      <p>
                        {{ Blog.blog_body_introduction }}
                      </p>
                      <div class="read-more">
                        <a href="/blogdetail/{{ Blog.id }}/">Read More</a>
                      </div>
                    </div>

                  </article><!-- End blog entry -->
                {% endfor %}

                <div class="blog-pagination">
                  <ul class="justify-content-center">
                    {% if Blogs.has_previous %}
                      <li><a href="?page={{ Blogs.previous_page_number }}">Previous</a></li>
                    {% endif %}


                    {% for page in Blogs.paginator.page_range %}
                      {% if page == Blogs.number %}
                        <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                      {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                      {% endif %}
                    {% endfor %}

                    {% if Blogs.has_next %}
                      <li><a href="?page={{ Blogs.next_page_number }}">Next</a></li>
                    {% endif %}
                  </ul>
                </div>

              </div><!-- End blog entries list -->

            </div>

          </div>
        </section><!-- End Blog Section -->

        <!-- ======= Clients Section ======= -->
        {% include 'includes/clients.html' %}
        <!-- End Clients Section -->

      </main>
      <!-- End #main -->

    {% include 'includes/footer.html' %}
  
  </body>
</html>