<!DOCTYPE html>
<html lang="en">

  {% load static %}

    <title>SICA MUBS - CARBINET</title>

 {% include 'includes/head.html'%}
  
  <body>
  
    {% include 'includes/header.html' %}

      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-cntent-center align-items-center">
    
        <div class="wave">
    
            <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                  <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
                </g>
              </g>
            </svg>
    
          </div>
    
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
    
          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="carousel-container">
              <img src="{% static 'assets/img/geromalogoicon.png' %}" style="border-radius: 2rem;" alt="">
              <h2 class="animate__animated animate__fadeInDown">OUR BLOG</h2>
            </div>
            
          </div>
    
          
    
        </div>
      </section>
      <!-- End Hero -->

      <!-- Main -->
      <main id="main">
        
<section id="blog" class="blog section-bg"
  style="background: linear-gradient(rgba(5, 87, 158, 0.9), rgba(5, 87, 158, 0.6)), url('{% static 'assets/img/about1.jpg' %}') center/cover no-repeat; color: #fff;">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2 class="text-white">Blog</h2>
    </div>

    <!-- Blog Posts -->
    <div class="row">

      <!-- Blog Post 1 -->
      <div class="col-md-6" data-aos="fade-up">
        <div class="card card-bg" style="border-radius: 15px;">
          <img src="{% static 'assets/img/blog/post1.jpg' %}" style="border-radius: 15px 15px 0 0;" alt="Image"
            class="img-fluid">
          <div class="card-body">
            <h4 class="card-title"><strong>Blog Post Title 1</strong></h4>
            <p class="card-text" style="text-align: justify;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus
              ante dapibus diam. Sed nisi.
            </p>
            <div class="blog-author">
              <span>Posted by: John Doe</span>
            </div>
          </div>
          <!-- Comments Section -->
          <div class="comments">
            <h5>Comments:</h5>
            <ul>
              <li>Comment 1 by User A</li>
              <li>Comment 2 by User B</li>
              <!-- Add more comments here dynamically -->
            </ul>
            <!-- Comment Form -->
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Your Comment"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit Comment</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Blog Post 2 -->
      <div class="col-md-6" data-aos="fade-up">
        <div class="card card-bg" style="border-radius: 15px;">
          <img src="{% static 'assets/img/blog/post2.jpg' %}" style="border-radius: 15px 15px 0 0;" alt="Image"
            class="img-fluid">
          <div class="card-body">
            <h4 class="card-title"><strong>Blog Post Title 2</strong></h4>
            <p class="card-text" style="text-align: justify;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus
              ante dapibus diam. Sed nisi.
            </p>
            <div class="blog-author">
              <span>Posted by: Jane Smith</span>
            </div>
          </div>
          <!-- Comments Section -->
          <div class="comments">
            <h5>Comments:</h5>
            <ul>
              <li>Comment 1 by User C</li>
              <!-- Add more comments here dynamically -->
            </ul>
            <!-- Comment Form -->
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Your Comment"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit Comment</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Add more blog posts here -->

    </div>

    <!-- Blog Post Form -->
    <div class="row mt-4" data-aos="fade-up">
      <div class="col-md-12">
        <div class="card card-bg" style="border-radius: 15px;">
          <div class="card-body">
            <h4 class="card-title"><strong>Write a New Blog Post</strong></h4>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Title">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Content"></textarea>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <button type="submit" class="btn btn-primary">Submit Blog Post</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

      
      <!-- ======= Clients Section ======= -->
      {% include 'includes/clients.html' %}
      <!-- End Clients Section -->

      </main>
      <!-- End #main -->

    {% include 'includes/footer.html' %}
  
  </body>
</html>