<!DOCTYPE html>
<html lang="en">

  {% load static %}

  <title>GEROMA - REQUEST A TAX RATE</title>

  {% include 'includes/head.html'%}
  
  <body>

    {% include 'includes/header.html' %}

      <!-- === After Login View === -->
      
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-cntent-center align-items-center">

        <div class="wave">

            <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                  <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
                </g>
              </g>
            </svg>

          </div>

        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
          <div class="carousel-item active">
            <div class="carousel-container">
              <img src="{% static 'assets/img/geromalogoicon.png' %}" style="border-radius: 2rem;" alt="">
              <h2 class="animate__animated animate__fadeInDown">REQUEST A TAX RATE</h2>
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero -->

      <!-- Main -->
      <main id="main">

<section id="history" class="history section-bg"
  style="background: linear-gradient(rgba(5, 87, 158, 0.9), rgba(5, 87, 158, 0.6)), url('{% static 'assets/img/about1.jpg' %}') center/cover no-repeat; color: #fff;">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2 class="text-white">Request Tax Rate</h2>
    </div>


    
    {% if success %}
      <div class="card mt-4">
        <div class="card-header">Tax Breakdown</div>
        <div class="card-body text-dark">
          <p>Import Duty: {{ tax_calculation.import_duty }}</p>
          <p>VAT: {{ tax_calculation.vat }}</p>
          <p>Withholding Tax: {{ tax_calculation.withholding_tax }}</p>
          <p>Infrastructure Levy: {{ tax_calculation.infrastructure_levy }}</p>
          <p>Total Tax: {{ tax_calculation.total_tax }}</p>
        </div>
      </div>
    {% elif failed %}
      <div class="card mt-4">
        <div class="card-header">Tax Calculation Failed</div>
        <div class="card-body">
          <p>Message: {{ message }}</p>
        </div>
      </div>
    {% else %}
        <ul class="nav nav-pills nav-justified mb-3" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if tab == 'general_goods' %}active{% endif %} text-white" id="tab-general-goods"
              data-toggle="pill" href="#pills-general-goods" role="tab" aria-controls="pills-general-goods"
              aria-selected="true"> <strong>GENERAL GOODS</strong> </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if tab == 'motor_vehicle' %}active{% endif %} text-white" id="tab-motor-vehicle"
              data-toggle="pill" href="#pills-motor-vehicle" role="tab" aria-controls="pills-motor-vehicle"
              aria-selected="false"> <strong>MOTOR VEHICLE</strong> </a>
          </li>
        </ul>
        
        <div class="tab-content">
          <div class="tab-pane fade {% if tab == 'general_goods' %}show active{% endif %}" id="pills-general-goods"
            role="tabpanel" aria-labelledby="tab-general-goods">
            <!-- General Goods Form -->
            <!-- Tax Calculation Form -->
            <div class="col-lg-12 mt-5 mt-lg-0 " data-aos="fade-left" data-aos-delay="100">
              <form action="/calcggt/" method="POST" class="contact-form">
                {% csrf_token %}
                <div class="form-group">
                  <div class="text-center text-white">
                    <h4><strong>Request Tax Rate For General Goods</strong></h4>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4 form-group">
                    <input type="number" name="cifvalue" class="form-control" id="cifvalue" placeholder="CIF Value" required>
                  </div>
                  <div class="col-md-4 form-group mt-3 mt-md-0">
                    <select class="form-select" name="currency" id="currency" required>
                      <option value="" selected disabled>Select Currency</option>
                      <option value="USD">USD</option>
                      <option value="EUR">EUR</option>
                      <option value="UGX">UGX</option>
                      <!-- Add more currency options as needed -->
                    </select>
                  </div>
        
                  <div class="col-md-4 form-group mt-3 mt-md-0">
                    <input type="text" class="form-control" name="exchangerate" id="exchangerate" placeholder="Exchange Rate"
                      required>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4 form-group">
                    <input type="text" class="form-control" name="hscode" id="hscode" placeholder="HSCode" required>
                  </div>
                  <div class="col-md-4 form-group mt-3 mt-md-0">
                    <select class="form-select" name="unitofmeasure" id="unitofmeasure" title="unitofmeasure" required>
                      <option value="" disabled selected>Select Unit Of Measure</option>
                      <option value="pieces">Pieces</option>
                      <option value="kg">Kilograms</option>
                      <option value="liters">Liters</option>
                      <!-- Add more options as needed -->
                    </select>
                  </div>
        
                  <div class="col-md-4 form-group mt-3 mt-md-0">
                    <input type="text" class="form-control" name="measurement" id="measurement" placeholder="Measurement"
                      required>
                  </div>
                </div>
                <!-- <div class="form-group mt-3">
                        <input type="text" class="form-control" name="hscode" id="hscode" placeholder="HSCode" required>
                      </div> -->
                <div class="form-group mt-3">
                  <textarea class="form-control" name="goodsdescription" id="goodsdescription" rows="5"
                    placeholder="Description Of Goods" required></textarea>
                </div>
        
                <div class="form-group">
                  <div class="text-center mt-3">
                    <button class="btn btn-primary" type="submit">Calculate taxes</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="tab-pane fade {% if tab == 'motor_vehicle' %}show active{% endif %}" id="pills-motor-vehicle"
            role="tabpanel" aria-labelledby="tab-motor-vehicle">
            <!-- Motor Vehicle Form -->
            <!-- Modify and adapt your form inputs here for motor vehicles -->
            <div class="col-lg-12 mt-5 mt-lg-0 " data-aos="fade-left" data-aos-delay="100">
              <form action="/contact/" method="POST" class="contact-form">
                {% csrf_token %}
                <div class="form-group">
                  <div class="text-center text-white">
                    <h4><strong>Request Tax Rate For Motor Vehicle</strong></h4>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4 form-group">
                    <input type="number" name="cifvalue" class="form-control" id="cifvalue" placeholder="CIF Value" required>
                  </div>
                  <div class="col-md-4 form-group mt-3 mt-md-0">
                    <select class="form-select" name="currency" id="currency" required>
                      <option value="" selected disabled>Select Currency</option>
                      <option value="USD">USD</option>
                      <option value="EUR">EUR</option>
                      <option value="UGX">UGX</option>
                      <!-- Add more currency options as needed -->
                    </select>
                  </div>
        
                  <div class="col-md-4 form-group mt-3 mt-md-0">
                    <input type="text" class="form-control" name="exchangerate" id="exchangerate" placeholder="Exchange Rate"
                      required>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4 form-group">
                    <input type="text" class="form-control" name="hscode" id="hscode" placeholder="HSCode" required>
                  </div>
                  <div class="col-md-4 form-group mt-3 mt-md-0">
                    <select class="form-select" name="Vehicletype" id="vehicletype" required>
                      <option value="" disabled selected>Select Vehicle Type</option>
                      <option value="salon">Salon</option>
                      <option value="hatchback">Hatchback</option>
                      <option value="suv">SUV</option>
                      <option value="sedan">Sedan</option>
                      <option value="coupe">Coupe</option>
                      <!-- Add more vehicle types as needed -->
                    </select>
                  </div>
                  <div class="col-md-4 form-group mt-3 mt-md-0">
                    <select class="form-select" name="yom" id="yom" required>
                      <option value="" disabled selected>Select Year Of Manufacture</option>
                      <option value="2023">2023</option>
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <!-- Add more years as needed -->
                    </select>
                  </div>
                </div>
        
                <div class="row mt-3">
                  <div class="col-md-4 form-group">
                    <input type="text" class="form-control" name="seatingcapacity" id="seatingcapacity"
                      placeholder="Seating Capacity" required>
                  </div>
                  <div class="col-md-4 form-group mt-3 mt-md-0">
                    <input type="text" class="form-control" name="grossweight" id="grossweight" placeholder="Gross Weight"
                      required>
                  </div>
                  <div class="col-md-4 form-group mt-3 mt-md-0">
                    <input type="text" class="form-control" name="enginecapacity" id="enginecapacity"
                      placeholder="Engine Capacity" required>
                  </div>
                </div>
                <!-- <div class="form-group mt-3">
                                  <input type="text" class="form-control" name="hscode" id="hscode" placeholder="HSCode" required>
                                </div> -->
                <div class="form-group mt-3">
                  <textarea class="form-control" name="goodsdescription" id="goodsdescription" rows="5"
                    placeholder="Description Of Vehicle" required></textarea>
                </div>
        
                <div class="form-group">
                  <div class="text-center mt-3">
                    <button class="btn btn-primary" type="submit">Calculate taxes</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    {% endif %}


  </div>
</section>



<!-- Additional JavaScript to handle the tax calculation form -->
<script>
  // Function to handle the form submission and calculate taxes
  function calculateTaxes(event) {
    event.preventDefault();

    const cargoValue = parseFloat(document.getElementById('cargoValue').value);
    const cargoType = document.getElementById('cargoType').value;

    // Perform the tax calculation based on the provided data
    // For example, you can use simple calculations or more complex logic here
    // For demonstration purposes, let's assume a basic tax calculation formula:
    let taxAmount;
    if (cargoType === 'normal') {
      taxAmount = cargoValue * 0.1; // 10% tax for normal cargo
    } else if (cargoType === 'hazardous') {
      taxAmount = cargoValue * 0.15; // 15% tax for hazardous cargo
    } else if (cargoType === 'fragile') {
      taxAmount = cargoValue * 0.05; // 5% tax for fragile cargo
    }

    // Display the tax calculation result
    document.getElementById('resultText').innerText = `The calculated tax amount is $${taxAmount.toFixed(2)}.`;
    document.getElementById('taxCalcResult').style.display = 'block';
  }

  // Add event listener to the form for form submission
  document.getElementById('taxCalcForm').addEventListener('submit', calculateTaxes);
</script>


        <!-- ======= Clients Section ======= -->
        {% include 'includes/clients.html' %}
        <!-- End Clients Section -->

      </main>
      <!-- End #main -->

    {% include 'includes/footer.html' %}
   
  </body>
</html>