<!DOCTYPE html>
<html lang="en">

  {% load static %}

  <title>GEROMA - REQUEST A TAX RATE</title>

  {% include 'includes/head.html'%}

      <style>
        .card-bg {
          background: rgba(5, 87, 158, 0.7);
          border-radius: 2.5rem;
          margin-bottom: 30px;
          padding: 30px;
          text-align: center;
        }
      
        .card-bg .card-title {
          /* font-size: 30px;
              font-weight: 700; */
          margin-bottom: 10px;
          color: #fff;
        }
      
        .card-bg .card-text {
          font-size: 16px;
          line-height: 1.5;
          color: #fff;
        }
      
        .card-bg img {
          border-radius: 25%;
        }
      
        .history-social a {
          color: #fff;
          margin-right: 10px;
        }

        /* Style the custom dropdown container */
        .custom-dropdown {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
        }

        /* Style the search input */
        .search-input {
          width: 100%;
          padding: 10px;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        /* Style the dropdown options */
        .dropdown-options {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          z-index: 1;
          color: black;
          background-color: #fff;
          border: 1px solid #ccc;
          max-height: 150px;
          overflow-y: auto;
        }

        /* Style the selected option */
        .selected-option {
          background-color: #007bff;
          color: #fff;
        }

        /* Style the individual option */
        .dropdown-option {
          padding: 10px;
          cursor: pointer;
        }

        /* Style the options on hover */
        .dropdown-option:hover {
          background-color: #007bff;
          color: #fff;
        }
      </style>
  
  <body>

    {% include 'includes/header.html' %}

      <!-- === After Login View === -->
      
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-cntent-center align-items-center">

        <div class="wave">

            <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                  <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
                </g>
              </g>
            </svg>

          </div>

        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
          <div class="carousel-item active">
            <div class="carousel-container">
              <img src="{% static 'assets/img/geromalogoicon.png' %}" style="border-radius: 2rem;" alt="">
              <h2 class="animate__animated animate__fadeInDown">REQUEST A TAX RATE</h2>
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero -->

      <!-- Main -->
      <main id="main">

        <section id="history" class="history section-bg"
          style="background: linear-gradient(rgba(5, 87, 158, 0.9), rgba(5, 87, 158, 0.6)), url('{% static 'assets/img/about1.jpg' %}') center/cover no-repeat; color: #fff;">
          <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2 class="text-white">Request Tax Rate</h2>
            </div>

            {% if success %}
              {% if tax_calculation.category == 'General Goods' %}
                <div class="card card-bg mt-4">
                  <h3 class="card-title">General Goods Tax Calculation Breakdown</h3>
                  <div class="card-body">
                    <div class="card-text">
                      <p>Import Duty: UGX {{ tax_calculation.import_duty }}</p>
                      <p>VAT: UGX {{ tax_calculation.vat }}</p>
                      <p>Withholding Tax: UGX {{ tax_calculation.withholding_tax }}</p>
                      <p>Infrastructure Levy: UGX {{ tax_calculation.infrastructure_levy }}</p>
                      <p> <strong> Total Tax: UGX {{ tax_calculation.total_tax }} </strong> </p>
                    </div>
                  </div>
                </div>
              {% elif tax_calculation.category == 'Motor Vehicle' %}
                <div class="card card-bg mt-4">
                  <h3 class="card-title">Motor Vehicle Tax Calculation Breakdown</h3>
                  <div class="card-body">
                    <div class="card-text">
                      <p>Import Duty: UGX {{ tax_calculation.import_duty }}</p>
                      <p>VAT: UGX {{ tax_calculation.vat }}</p>
                      <p>Withholding Tax: UGX {{ tax_calculation.withholding_tax }}</p>
                      <p>Environmental Levy: UGX {{ tax_calculation.environmental_levy }}</p>
                      <p>Registration Fees: UGX {{ tax_calculation.registration_fees }}</p>
                      <p>Stamp Duty: UGX {{ tax_calculation.stamp_duty }}</p>
                      <p>Form Fees: UGX {{ tax_calculation.form_fees }}</p>
                      <p> <strong> Total Tax: UGX {{ tax_calculation.total_tax }} </strong> </p>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="card card-bg mt-4">
                  <h3 class="card-title">Unknown Tax Calculation Category</h3>
                  <div class="card-body">
                    <div class="card-text">
                      <p> <strong> Message: Unknown Tax Calculation Category </strong> </p>
                    </div>
                  </div>
                </div>
              {% endif%}
            {% elif failed %}
              <div class="card card-bg mt-4">
                <h3 class="card-title">Tax Calculation Failed</h3>
                <div class="card-body">
                  <div class="card-text">
                    <p> <strong> Message: {{ message }} </strong> </p>
                  </div>
                </div>
              </div>
            {% else %}
                <ul class="nav nav-pills nav-justified mb-3" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tab == 'general_goods' %}active{% endif %} text-white" id="tab-general-goods"
                      data-toggle="pill" href="#pills-general-goods" role="tab" aria-controls="pills-general-goods"
                      aria-selected="true"> <strong>GENERAL GOODS</strong> </a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tab == 'motor_vehicle' %}active{% endif %} text-white" id="tab-motor-vehicle"
                      data-toggle="pill" href="#pills-motor-vehicle" role="tab" aria-controls="pills-motor-vehicle"
                      aria-selected="false"> <strong>MOTOR VEHICLE</strong> </a>
                  </li>
                </ul>
                
                <div class="tab-content">
                  <div class="tab-pane fade {% if tab == 'general_goods' %}show active{% endif %}" id="pills-general-goods"
                    role="tabpanel" aria-labelledby="tab-general-goods">
                    <!-- General Goods Form -->
                    <!-- Tax Calculation Form -->
                    <div class="col-lg-12 mt-5 mt-lg-0 " data-aos="fade-left" data-aos-delay="100">
                      <form action="/calcggt/" method="POST" class="contact-form">
                        {% csrf_token %}
                        <div class="form-group">
                          <div class="text-center text-white">
                            <h4><strong>Request Tax Rate For General Goods</strong></h4>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-4 form-group">
                            <input type="number" name="cifvalue" class="form-control" id="cifvalue" placeholder="CIF Value" required>
                          </div>
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <select class="form-select" name="currency" id="currency" required>
                              <option value="" selected disabled>Select Currency</option>
                              <option value="USD">USD</option>
                              <option value="EUR">EUR</option>
                              <option value="UGX">UGX</option>
                              <!-- Add more currency options as needed -->
                            </select>
                          </div>
                
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="exchangerate" id="exchangerate" placeholder="Exchange Rate"
                              required>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-4 form-group">
                            <input type="text" class="form-control" name="hscode" id="hscode" placeholder="HSCode" required>
                          </div>
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <select class="form-select" name="unitofmeasure" id="unitofmeasure" title="unitofmeasure" required>
                              <option value="" disabled selected>Select Unit Of Measure</option>
                              <option value="pieces">Pieces</option>
                              <option value="kg">Kilograms</option>
                              <option value="liters">Liters</option>
                              <!-- Add more options as needed -->
                            </select>
                          </div>
                
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="measurement" id="measurement" placeholder="Measurement"
                              required>
                          </div>
                        </div>
                        <!-- <div class="form-group mt-3">
                                <input type="text" class="form-control" name="hscode" id="hscode" placeholder="HSCode" required>
                              </div> -->
                        <div class="form-group mt-3">
                          <textarea class="form-control" name="goodsdescription" id="goodsdescription" rows="5"
                            placeholder="Description Of Goods" required></textarea>
                        </div>
                
                        <div class="form-group">
                          <div class="text-center mt-3">
                            <button class="btn btn-primary" type="submit">Calculate taxes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="tab-pane fade {% if tab == 'motor_vehicle' %}show active{% endif %}" id="pills-motor-vehicle"
                    role="tabpanel" aria-labelledby="tab-motor-vehicle">
                    <!-- Motor Vehicle Form -->
                    <!-- Modify and adapt your form inputs here for motor vehicles -->
                    <div class="col-lg-12 mt-5 mt-lg-0 " data-aos="fade-left" data-aos-delay="100">
                      <form action="/calcmvt/" method="POST" class="contact-form">
                        {% csrf_token %}
                        <div class="form-group">
                          <div class="text-center text-white">
                            <h4><strong>Request Tax Rate For Motor Vehicle</strong></h4>
                          </div>
                        </div>

                        <div class="form-group mt-3">
                          <div class="custom-dropdown form-group mt-3">
                            <input type="text" class="search-input" placeholder="Vehicle Description...">
                            <div class="dropdown-options">
                              <option value="" selected disabled>Select Description</option>
                              <option value="Mercedes">MERCEDES</option>
                              <option value="BMW">BMW</option>
                              <option value="AUDI">AUDI</option>
                              <option value="Toyota">Toyota</option>
                              <option value="Chevy">Chevy</option>
                              <!-- Add more currency options as needed -->
                            </div>
                          </div>
                        </div>

                        <script>
                          // JavaScript to handle the search functionality
                          const searchInput = document.querySelector('.search-input');
                          const dropdownOptions = document.querySelector('.dropdown-options');
                          const options = dropdownOptions.querySelectorAll('option');

                          searchInput.addEventListener('input', function () {
                            const searchTerm = searchInput.value.toLowerCase();

                            options.forEach(option => {
                              if (option.textContent.toLowerCase().includes(searchTerm)) {
                                option.style.display = 'block';
                              } else {
                                option.style.display = 'none';
                              }
                            });

                            // Show/hide the dropdown container based on search results
                            const visibleOptions = [...options].filter(option => option.style.display === 'block');
                            if (visibleOptions.length > 0) {
                              dropdownOptions.style.display = 'block';
                            } else {
                              dropdownOptions.style.display = 'none';
                            }
                          });

                          // Handle option selection
                          options.forEach(option => {
                            option.addEventListener('click', function () {
                              searchInput.value = option.textContent;
                              options.forEach(o => o.classList.remove('selected-option'));
                              option.classList.add('selected-option');
                              dropdownOptions.style.display = 'none';
                            });
                          });
                        </script>

                        <div class="row mt-3">
                          <div class="col-md-3 form-group">
                            <input type="text" class="form-control" name="hscode" id="hscode" placeholder="HSCode" required>
                          </div>
                          <div class="col-md-3 form-group mt-3">
                            <input type="number" name="cifvalue" class="form-control" id="cifvalue" placeholder="CIF Value" required>
                          </div>
                          <div class="col-md-3 form-group mt-3 mt-md-0">
                            <select class="form-select" name="currency" id="currency" title="currency" required>
                              <option value="" selected disabled>Select Currency</option>
                              <option value="USD">USD</option>
                              <option value="EUR">EUR</option>
                              <option value="UGX">UGX</option>
                              <!-- Add more currency options as needed -->
                            </select>
                          </div>
                          <div class="col-md-3 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="enginecapacity" id="enginecapacity" placeholder="Engine Capacity" required>
                          </div>
                        </div>

                        <div class="row mt-3">
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <select class="form-select" name="yom" id="yom" title="yom" required>
                              <option value="" disabled selected>Select Year Of Manufacture</option>
                              <option value="2023">2023</option>
                              <option value="2022">2022</option>
                              <option value="2021">2021</option>
                              <option value="2020">2020</option>
                              <option value="2019">2019</option>
                              <option value="2018">2018</option>
                              <option value="2017">2017</option>
                              <option value="2016">2016</option>
                              <option value="2015">2015</option>
                              <option value="2014">2014</option>
                              <option value="2013">2013</option>
                              <option value="2012">2012</option>
                              <option value="2011">2011</option>
                              <option value="2010">2010</option>
                              <option value="2009">2009</option>
                              <option value="2008">2008</option>
                              <option value="2007">2007</option>
                              <option value="2006">2006</option>
                              <option value="2005">2005</option>
                              <option value="2004">2004</option>
                              <option value="2003">2003</option>
                              <option value="2002">2002</option>
                              <option value="2001">2001</option>
                              <option value="2000">2000</option>
                              <!-- Add more years as needed -->
                            </select>
                          </div>
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="exchangerate" id="exchangerate" placeholder="Country Of Origin"
                              required>
                          </div>
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="exchangerate" id="exchangerate" placeholder="Exchange Rate" required>
                          </div>
                        </div>
                        
                        <div class="row mt-3">
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <select class="form-select" name="Vehicletype" id="vehicletype" title="vehicletype" required>
                              <option value="" disabled selected>Select Vehicle Type</option>
                              <option value="salon">Salon</option>
                              <option value="hatchback">Hatchback</option>
                              <option value="suv">SUV</option>
                              <option value="sedan">Sedan</option>
                              <option value="coupe">Coupe</option>
                              <!-- Add more vehicle types as needed -->
                            </select>
                          </div>
                          <div class="col-md-4 form-group mt-3">
                            <input type="text" class="form-control" name="seatingcapacity" id="seatingcapacity" placeholder="Seating Capacity" required>
                          </div>
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="grossweight" id="grossweight" placeholder="Gross Weight" required>
                          </div>
                          
                        </div>
                
                        <div class="form-group">
                          <div class="text-center mt-3">
                            <button class="btn btn-primary" type="submit">Calculate taxes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            {% endif %}


          </div>
        </section>
      
        <!-- Additional JavaScript to handle the tax calculation form -->
        <script>
          // Function to handle the form submission and calculate taxes
          function calculateTaxes(event) {
            event.preventDefault();

            const cargoValue = parseFloat(document.getElementById('cargoValue').value);
            const cargoType = document.getElementById('cargoType').value;

            // Perform the tax calculation based on the provided data
            // For example, you can use simple calculations or more complex logic here
            // For demonstration purposes, let's assume a basic tax calculation formula:
            let taxAmount;
            if (cargoType === 'normal') {
              taxAmount = cargoValue * 0.1; // 10% tax for normal cargo
            } else if (cargoType === 'hazardous') {
              taxAmount = cargoValue * 0.15; // 15% tax for hazardous cargo
            } else if (cargoType === 'fragile') {
              taxAmount = cargoValue * 0.05; // 5% tax for fragile cargo
            }

            // Display the tax calculation result
            document.getElementById('resultText').innerText = `The calculated tax amount is $${taxAmount.toFixed(2)}.`;
            document.getElementById('taxCalcResult').style.display = 'block';
          }

          // Add event listener to the form for form submission
          document.getElementById('taxCalcForm').addEventListener('submit', calculateTaxes);
        </script>

        <!-- ======= Clients Section ======= -->
        {% include 'includes/clients.html' %}
        <!-- End Clients Section -->

      </main>
      <!-- End #main -->

    {% include 'includes/footer.html' %}
   
  </body>
</html>