<!DOCTYPE html>
<html lang="en">

  {% load static %}

  <title>GEROMA - REQUEST A TAX RATE</title>

  {% include 'includes/head.html'%}

      <style>
        .card-bg {
          background: rgba(5, 87, 158, 0.7);
          border-radius: 2.5rem;
          margin-bottom: 30px;
          padding: 30px;
          text-align: center;
        }
      
        .card-bg .card-title {
          /* font-size: 30px;
              font-weight: 700; */
          margin-bottom: 10px;
          color: #fff;
        }
      
        .card-bg .card-text {
          font-size: 16px;
          line-height: 1.5;
          color: #fff;
        }
      
        .card-bg img {
          border-radius: 25%;
        }
      
        .history-social a {
          color: #fff;
          margin-right: 10px;
        }

        /* Style the custom dropdown container */
        .custom-dropdown {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
        }

        /* Style the search input */
        .search-input {
          width: 100%;
          padding: 10px;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        /* Style the dropdown options */
        .dropdown-options {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          z-index: 1;
          color: black;
          background-color: #fff;
          border: 1px solid #ccc;
          max-height: 150px;
          overflow-y: auto;
        }

        /* Style the selected option */
        .selected-option {
          background-color: #007bff;
          color: #fff;
        }

        /* Style the individual option */
        .dropdown-option {
          padding: 10px;
          cursor: pointer;
        }

        /* Style the options on hover */
        .dropdown-option:hover {
          background-color: #007bff;
          color: #fff;
        }
      </style>
  
  <body>

    {% include 'includes/header.html' %}

      <!-- === After Login View === -->
      
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-cntent-center align-items-center">

        <div class="wave">

            <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                  <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
                </g>
              </g>
            </svg>

          </div>

        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
          <div class="carousel-item active">
            <div class="carousel-container">
              <img src="{% static 'assets/img/geromalogoicon.png' %}" style="border-radius: 2rem;" alt="">
              <h2 class="animate__animated animate__fadeInDown">REQUEST A TAX RATE</h2>
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero -->

      <!-- Main -->
      <main id="main">

        <section id="history" class="history section-bg"
          style="background: linear-gradient(rgba(5, 87, 158, 0.9), rgba(5, 87, 158, 0.6)), url('{% static 'assets/img/about1.jpg' %}') center/cover no-repeat; color: #fff;">
          <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2 class="text-white">Request Tax Rate</h2>
            </div>

            {% if success %}
              {% if tax_calculation.category == 'General Goods' %}
                <div class="card card-bg mt-4">
                  <h3 class="card-title">General Goods Tax Calculation Breakdown</h3>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h4>Tax Calculation Requirements Submitted</h4>
                        <p> <strong>Goods Description:</strong> {{ tax_calculation.goods_description }}</p>
                        <p> <strong>HSCode:</strong> {{ tax_calculation.hscode }}</p>
                        <p> <strong>CIF Value:</strong> {% if tax_calculation.currency == 'USD' %} USD {{ tax_calculation.cif }} {% else %} UGX {{ tax_calculation.cif }} {% endif %}</p>
                        <p> <strong>Exchange Rate:</strong> UGX {{ tax_calculation.exchange_rate }}</p>
                        <p> <strong>Converted CIF Value:</strong> UGX {{ tax_calculation.converted_cif }}</p>
                        <p> <strong>Gross Unit:</strong> {{ tax_calculation.measurement }} {{ tax_calculation.unit_of_measure }}</p>
                      </div>
                      <div class="col-md-6">
                        <div class="card-text">
                          <h4>Tax Calculation Results</h4>
                          <p> <strong>Import Duty:</strong> UGX {{ tax_calculation.import_duty }}</p>
                          <p> <strong>VAT:</strong>  UGX {{ tax_calculation.vat }}</p>
                          <p> <strong>Withholding Tax:</strong>  UGX {{ tax_calculation.withholding_tax }}</p>
                          <p> <strong>Infrastructure Levy:</strong> UGX {{ tax_calculation.infrastructure_levy }}</p>
                          <p> <strong> Total Tax: UGX {{ tax_calculation.total_tax }} </strong> </p>
                        </div>
                      </div>
                  </div>
                </div>
              {% elif tax_calculation.category == 'Motor Vehicle' %}
                <div class="card card-bg mt-4">
                  <h3 class="card-title">Motor Vehicle Tax Calculation Breakdown</h3>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card-text">
                          <h4>Tax Calculation Requirements Submitted</h4>
                          <p> <strong>Motor Vehicle Description:</strong> {{ tax_calculation.goods_description }}</p>
                          <p> <strong>HSCode:</strong> {{ tax_calculation.hscode }}</p>
                          <p> <strong>CIF Value:</strong> {% if tax_calculation.currency == 'USD' %} {{ tax_calculation.currency }} {{ tax_calculation.cif }} {% else %} {{ tax_calculation.currency }} {{ tax_calculation.cif }} {% endif %}</p>
                          <p> <strong>Exchange Rate:</strong> UGX {{ tax_calculation.exchange_rate }}</p>
                          <p> <strong>Converted CIF Value:</strong> UGX {{ tax_calculation.converted_cif }}</p>
                          <p> <strong>Engine Capacity:</strong> {{ tax_calculation.engine_capacity }}</p>
                          <p> <strong>Year Of Manufacture:</strong> {{ tax_calculation.year_of_manufacture }}</p>
                          <p> <strong>Country Of Origin:</strong> {{ tax_calculation.country_of_origin }}</p>
                          <p> <strong>Vehicle Type:</strong> {{ tax_calculation.vehicle_type }}</p>
                          <p> <strong>Seating Capacity:</strong> {{ tax_calculation.seating_capacity }}</p>
                          <p> <strong>Gross Weight:</strong> {{ tax_calculation.measurement }} {{ tax_calculation.unit_of_measure }}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card-text">
                          <h4>Tax Calculation Results</h4>
                          <p> <strong>Import Duty:</strong>  UGX {{ tax_calculation.import_duty }}</p>
                          <p> <strong>VAT:</strong>  UGX {{ tax_calculation.vat }}</p>
                          <p> <strong>Withholding Tax:</strong> UGX {{ tax_calculation.withholding_tax }}</p>
                          <p> <strong>Environmental Levy:</strong>  UGX {{ tax_calculation.environmental_levy }}</p>
                          <p> <strong>Registration Fees:</strong>  UGX {{ tax_calculation.registration_fees }}</p>
                          <p> <strong>Stamp Duty:</strong> UGX {{ tax_calculation.stamp_duty }}</p>
                          <p> <strong>Form Fees:</strong>  UGX {{ tax_calculation.form_fees }}</p>
                          <p> <strong> Total Tax: UGX {{ tax_calculation.total_tax }} </strong> </p>
                        </div>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
              {% else %}
                <div class="card card-bg mt-4">
                  <h3 class="card-title">Unknown Tax Calculation Category</h3>
                  <div class="card-body">
                    <div class="card-text">
                      <p> <strong> Message: Unknown Tax Calculation Category </strong> </p>
                    </div>
                  </div>
                </div>
              {% endif%}
            {% elif failed %}
              <div class="card card-bg mt-4">
                <h3 class="card-title">Tax Calculation Failed</h3>
                <div class="card-body">
                  <div class="card-text">
                    <p> <strong> Message: {{ message }} </strong> </p>
                  </div>
                </div>
              </div>
            {% else %}
                <ul class="nav nav-pills nav-justified mb-3" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tab == 'general_goods' %}active{% endif %} text-white" id="tab-general-goods"
                      data-toggle="pill" href="#pills-general-goods" role="tab" aria-controls="pills-general-goods"
                      aria-selected="true"> <strong>GENERAL GOODS</strong> </a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tab == 'motor_vehicle' %}active{% endif %} text-white" id="tab-motor-vehicle"
                      data-toggle="pill" href="#pills-motor-vehicle" role="tab" aria-controls="pills-motor-vehicle"
                      aria-selected="false"> <strong>MOTOR VEHICLE</strong> </a>
                  </li>
                </ul>
                
                <div class="tab-content">
                  <div class="tab-pane fade {% if tab == 'general_goods' %}show active{% endif %}" id="pills-general-goods"
                    role="tabpanel" aria-labelledby="tab-general-goods">
                    <!-- General Goods Form -->
                    <!-- Tax Calculation Form -->
                    <div class="col-lg-12 mt-5 mt-lg-0 " data-aos="fade-left" data-aos-delay="100">
                      <form action="/calcggt/" method="POST" class="contact-form">
                        {% csrf_token %}
                        <div class="form-group">
                          <div class="text-center text-white">
                            <h4><strong>Request Tax Rate For General Goods</strong></h4>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-4 form-group">
                            <input type="text" class="form-control" name="hscode" id="hscode" placeholder="HSCode eg 8120.12.20" required>
                          </div>
                          <div class="col-md-4 form-group">
                            <input type="text" name="cifvalue" class="form-control" id="cifvalue" placeholder="CIF Value" required>
                          </div>
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <select class="form-select" name="currency" id="currency" required>
                              <option value="" selected disabled>Select Currency</option>
                              <option value="USD">USD</option>
                              <option value="UGX">UGX</option>
                              <!-- Add more currency options as needed -->
                            </select>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-6 form-group mt-3 mt-md-0">
                            <select class="form-select" name="unitofmeasure" id="unitofmeasure" title="unitofmeasure" required>
                              <option value="" disabled selected>Select Unit Of Measure</option>
                              <option value="Pieces">Pieces</option>
                              <option value="Kgs">Kilograms</option>
                              <option value="Liters">Liters</option>
                              <option value="Grams">Grams</option>
                              <option value="Meters">Meters</option>
                              <option value="Cubic_meters">Cubic Meters</option>
                              <option value="Milliliters">Milliliters</option>
                              <!-- Add more units of measure as needed -->
                            </select>
                          </div>
                
                          <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="grossunit" id="grossunit" placeholder="Gross Unit" required>
                          </div>
                        </div>
                        <!-- <div class="form-group mt-3">
                                <input type="text" class="form-control" name="hscode" id="hscode" placeholder="HSCode" required>
                              </div> -->
                        <div class="form-group mt-3">
                          <textarea class="form-control" name="goodsdescription" id="goodsdescription" rows="5" placeholder="Description Of Goods" required></textarea>
                        </div>
                
                        <div class="form-group">
                          <div class="text-center mt-3">
                            <button class="btn btn-primary" type="submit">Calculate taxes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="tab-pane fade {% if tab == 'motor_vehicle' %}show active{% endif %}" id="pills-motor-vehicle"
                    role="tabpanel" aria-labelledby="tab-motor-vehicle">
                    <!-- Motor Vehicle Form -->
                    <!-- Modify and adapt your form inputs here for motor vehicles -->
                    <div class="col-lg-12 mt-5 mt-lg-0 " data-aos="fade-left" data-aos-delay="100">
                      <form action="/calcmvt/" method="POST" class="contact-form">
                        {% csrf_token %}
                        <div class="form-group">
                          <div class="text-center text-white">
                            <h4><strong>Request Tax Rate For Motor Vehicle</strong></h4>
                          </div>
                        </div>

                        <div class="form-group mt-3">
                          <div class="custom-dropdown form-group mt-3">
                            <input type="text" class="search-input" placeholder="Vehicle Description..." id="MVDescriptions" name="MVDescriptions">
                            <div class="dropdown-options">
                              <option value="" selected disabled>Select Description</option>
                              {% for MVVGD in MVVGuideDetails %}
                                <option value="{{ MVVGD.id }}">{{ MVVGD.Description }}</option>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                        
                        <div class="row mt-3">
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="mvhscode" id="mvhscode" placeholder="HSCode" required>
                          </div>
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="text" name="mvcifvalue" class="form-control" id="mvcifvalue" placeholder="CIF Value" required>
                          </div>
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <select class="form-select" name="mvcurrency" id="mvcurrency" title="currency" required>
                              <option value="" selected disabled>Select Currency</option>
                              <option value="USD">USD</option>
                              <option value="UGX">UGX</option>
                              <!-- Add more currency options as needed -->
                            </select>
                          </div>
                          
                        </div>

                        <div class="row mt-3">
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="enginecapacity" id="enginecapacity" placeholder="Engine Capacity" required>
                          </div>
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <select class="form-select" name="yom" id="yom" title="yom" required>
                              <option value="" disabled selected>Select Year Of Manufacture</option>
                              <option value="2023">2023</option>
                              <option value="2022">2022</option>
                              <option value="2021">2021</option>
                              <option value="2020">2020</option>
                              <option value="2019">2019</option>
                              <option value="2018">2018</option>
                              <option value="2017">2017</option>
                              <option value="2016">2016</option>
                              <option value="2015">2015</option>
                              <option value="2014">2014</option>
                              <option value="2013">2013</option>
                              <option value="2012">2012</option>
                              <option value="2011">2011</option>
                              <option value="2010">2010</option>
                              <option value="2009">2009</option>
                              <option value="2008">2008</option>
                              <option value="2007">2007</option>
                              <option value="2006">2006</option>
                              <option value="2005">2005</option>
                              <option value="2004">2004</option>
                              <option value="2003">2003</option>
                              <option value="2002">2002</option>
                              <option value="2001">2001</option>
                              <option value="2000">2000</option>
                              <!-- Add more years as needed -->
                            </select>
                          </div>
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="mvcoc" id="mvcoc" placeholder="Country Of Origin" required>
                          </div>
                          
                        </div>
                        
                        <div class="row mt-3">
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <select class="form-select" name="vehicletype" id="vehicletype" title="vehicletype" required>
                              <option value="" disabled selected>Select Vehicle Type</option>
                              <option value="Car">Car</option>
                              <!-- <option value="Hatchback">Hatchback</option>
                              <option value="SUV">SUV</option>
                              <option value="Sedan">Sedan</option>
                              <option value="Coupe">Coupe</option>
                              <option value="Pickup">Pickup Truck</option>
                              <option value="Convertible">Convertible</option> -->
                              <option value="Van">Van</option>
                              <option value="Truck">Truck</option>
                              <!-- Add more vehicle types as needed -->
                            </select>
                          </div>
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="seatingcapacity" id="seatingcapacity" placeholder="Seating Capacity" required>
                          </div>
                          <div class="col-md-4 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="grossweight" id="grossweight" placeholder="Gross Weight" required>
                          </div>
                          
                        </div>
                
                        <div class="form-group">
                          <div class="text-center mt-3">
                            <button class="btn btn-primary" type="submit">Calculate Taxes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            {% endif %}


          </div>
        </section>
      
        <script>
          // Section 1: Variable Declarations
          const searchInput = document.querySelector('.search-input');
          const options = document.querySelectorAll('.dropdown-options option');
          const dropdown = document.querySelector('.dropdown-options');
          let selectedOption = null;

          // Section 2: Event Listener for Input Changes
          searchInput.addEventListener('input', function () {
            const searchTerm = searchInput.value.toLowerCase();

            // Filter and display options based on the search term
            options.forEach(option => {
              if (option.textContent.toLowerCase().includes(searchTerm)) {
                option.style.display = 'block';
              } else {
                option.style.display = 'none';
              }
            });

            // Show or hide the dropdown based on filtered options
            const visibleOptions = [...options].filter(option => option.style.display === 'block');
            dropdown.style.display = visibleOptions.length > 0 ? 'block' : 'none';
          });

          // Section 3: Event Listeners for Option Selection
          options.forEach(option => {
            option.addEventListener('click', function () {
              selectedOption = option;
              searchInput.value = selectedOption.textContent; // Update the input with the selected option's value
              dropdown.style.display = 'none';

              // Additional form field population based on the selected option
              const otherFormFields = {
                mvhscode: document.getElementById("mvhscode"),
                mvcifvalue: document.getElementById("mvcifvalue"),
                enginecapacity: document.getElementById("enginecapacity"),
                yom: document.getElementById("yom"),
                mvcoc: document.getElementById("mvcoc"),
                mvcurrency: document.getElementById("mvcurrency"),
              };

              selectedDescription = selectedOption.value;

              if (selectedDescription) {
                // Make an AJAX request to retrieve vehicle details
                fetch(`/getselectedvehicledetails/${selectedDescription}/`)
                  .then((response) => response.json())
                  .then((data) => {
                    // Populate form fields with the received data
                    otherFormFields.mvhscode.value = data.hscode;
                    otherFormFields.mvcifvalue.value = data.cifvalue;
                    otherFormFields.enginecapacity.value = data.enginecapacity;
                    otherFormFields.yom.value = data.yom;
                    otherFormFields.mvcoc.value = data.CountryOfOrigin;
                    otherFormFields.mvcurrency.value = 'USD';
                  })
                  .catch((error) => console.error(error));
              }
            });
          });

          // Section 4: Additional Code to Prevent Default Form Submission
          searchInput.addEventListener('keydown', function (event) {
            if (event.key === 'Enter' && selectedOption) {
              event.preventDefault();
            }
          });
        </script>

        <!-- ======= Clients Section ======= -->
        {% include 'includes/clients.html' %}
        <!-- End Clients Section -->

      </main>
      <!-- End #main -->

    {% include 'includes/footer.html' %}
   
  </body>
</html>