<!DOCTYPE html>
<html lang="en">

  {% load static %}

  <title>GEROMA - SERVICES</title>

  {% include 'includes/head.html'%}

    <style>
      .card-bg {
        background: rgba(5, 87, 158, 0.7);
        border-radius: 2.5rem;
        margin-bottom: 30px;
        padding: 30px;
        text-align: center;
      }
    
      .card-bg .card-title {
        /* font-size: 30px;
        font-weight: 700; */
        margin-bottom: 10px;
        color: #fff;
      }
    
      .card-bg .card-text {
        font-size: 20px;
        line-height: 1.6;
        color: #fff;
      }
    
      .card-bg img {
        border-radius: 25%;
      }
    
      .history-social a {
        color: #fff;
        margin-right: 10px;
      }
    </style>

  <body>

    {% include 'includes/header.html' %}

    
      <!-- === After Login View, Admin === -->
      
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-cntent-center align-items-center">

        <div class="wave">

            <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                  <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
                </g>
              </g>
            </svg>

          </div>

        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="carousel-container">
              <img src="{% static 'assets/img/geromalogoicon.png' %}" style="border-radius: 2rem;" alt="">
              <h2 class="animate__animated animate__fadeInDown">OUR SERVICES</h2>
            </div>
            
          </div>

          

        </div>
      </section>
      <!-- End Hero -->

      <!-- Main -->
      <main id="main">

        <section id="history" class="history section-bg" style="background: linear-gradient(rgba(5, 87, 158, 0.9), rgba(5, 87, 158, 0.6)), url('{% static 'assets/img/about1.jpg' %}') center/cover no-repeat; color: #fff;">
          <div class="container" data-aos="fade-up">
        
            <div class="section-title">
              <h2 class="text-white">Our Services</h2>
            </div>
                
            <!-- Services Row -->
            <div class="row">
        
              <!-- Customs Clearance Card -->
              <div class="col-md-4">
                <div class="card card-bg" data-aos="fade-up" style="border-radius: 15px;">
                  <img src="{% static 'assets/img/history/customs_clearance.jpg' %}" style="border-radius: 25%;" alt="Image"
                    class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title"><strong>CUSTOMS CLEARANCE</strong></h4>
                    <p class="card-text" style="text-align: justify;">
                      Our customs clearance services ensure smooth and hassle-free clearance of goods through customs
                      procedures, ensuring compliance with all regulations.
                    </p>
                  </div>
                </div>
              </div>
        
              <!-- Tax Consultancy Card -->
              <div class="col-md-4">
                <div class="card card-bg" data-aos="fade-up" style="border-radius: 15px;">
                  <img src="{% static 'assets/img/history/tax_consultancy.jpg' %}" style="border-radius: 25%;" alt="Image"
                    class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title"><strong>TAX CONSULTANCY</strong></h4>
                    <p class="card-text" style="text-align: justify;">
                      Our expert tax consultation services provide valuable guidance and strategies to optimize tax-related
                      matters for our clients.
                    </p>
                  </div>
                </div>
              </div>
        
              <!-- Tax Declaration Training Card -->
              <div class="col-md-4">
                <div class="card card-bg" data-aos="fade-up" style="border-radius: 15px;">
                  <img src="{% static 'assets/img/history/tax_declaration_training.jpg' %}" style="border-radius: 25%;"
                    alt="Image" class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title"><strong>TAX DECLARATION TRAINING</strong></h4>
                    <p class="card-text" style="text-align: justify;">
                      We offer specialized training on tax declaration procedures to empower businesses in handling tax-related
                      obligations effectively.
                    </p>
                  </div>
                </div>
              </div>
        
              <!-- Cargo Transportation Card -->
              <div class="col-md-4">
                <div class="card card-bg" data-aos="fade-up" style="border-radius: 15px;">
                  <img src="{% static 'assets/img/history/cargo_transportation.jpg' %}" style="border-radius: 25%;" alt="Image"
                    class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title"><strong>CARGO TRANSPORTATION</strong></h4>
                    <p class="card-text" style="text-align: justify;">
                      We offer efficient and reliable cargo transportation services to ensure timely and secure delivery of
                      goods to their destinations.
                    </p>
                  </div>
                </div>
              </div>

              <!-- Tax Declaration Training Card -->
              <div class="col-md-4">
                <div class="card card-bg" data-aos="fade-up" style="border-radius: 15px;">
                  <img src="{% static 'assets/img/history/tax_declaration_training.jpg' %}" style="border-radius: 25%;" alt="Image"
                    class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title"><strong>TAX DECLARATION TRAINING</strong></h4>
                    <p class="card-text" style="text-align: justify;">
                      We offer specialized training on tax declaration procedures to empower businesses in handling tax-related
                      obligations effectively.
                    </p>
                  </div>
                </div>
              </div>
              
              <!-- Cargo Transportation Card -->
              <div class="col-md-4">
                <div class="card card-bg" data-aos="fade-up" style="border-radius: 15px;">
                  <img src="{% static 'assets/img/history/cargo_transportation.jpg' %}" style="border-radius: 25%;" alt="Image"
                    class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title"><strong>CARGO TRANSPORTATION</strong></h4>
                    <p class="card-text" style="text-align: justify;">
                      We offer efficient and reliable cargo transportation services to ensure timely and secure delivery of
                      goods to their destinations.
                    </p>
                  </div>
                </div>
              </div>
        
            </div>
        
            <!-- Additional content as needed -->
            <!-- ... -->
        
          </div>
        </section>

        {% include 'includes/profilemodal.html' %}

        {% include 'passwordmgt/pw_change_form.html' %}
        <!--================ End Modal Area =================-->

        <!-- ======= Clients Section ======= -->
        {% include 'includes/clients.html' %}
        <!-- End Clients Section -->

      </main>
      <!-- End #main -->

      <!-- === End After Login View,  Admin === -->

    {% include 'includes/footer.html' %}

  </body>
</html>