<!DOCTYPE html>
<html lang="en">

  {% load static %}

  <title>GEROMA - SERVICES</title>

  {% include 'includes/head.html'%}

    <style>
      .card-bg {
        background: rgba(5, 87, 158, 0.7);
        border-radius: 2.5rem;
        margin-bottom: 30px;
        padding: 30px;
        text-align: center;
      }
    
      .card-bg .card-title {
        /* font-size: 30px;
        font-weight: 700; */
        margin-bottom: 10px;
        color: #fff;
      }
    
      .card-bg .card-text {
        font-size: 20px;
        line-height: 1.6;
        color: #fff;
      }
    
      .card-bg img {
        border-radius: 25%;
      }
    
      .history-social a {
        color: #fff;
        margin-right: 10px;
      }
    </style>

  <body>

    {% include 'includes/header.html' %}

    
      <!-- === After Login View, Admin === -->
      
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-cntent-center align-items-center">

        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="carousel-container">
              <img src="{% static 'assets/img/geromalogoicon.png' %}" style="border-radius: 2rem;" alt="">
              <h2 class="animate__animated animate__fadeInDown">OUR SERVICES</h2>
            </div>
            
          </div>

          

        </div>
      </section>
      <!-- End Hero -->

      <!-- Main -->
      <main id="main">

        <section id="history" class="history section-bg" style="background: linear-gradient(rgba(5, 87, 158, 0.9), rgba(5, 87, 158, 0.6)), url('{% static 'assets/img/about1.jpg' %}') center/cover no-repeat; color: #fff;">
          <div class="container" data-aos="fade-up">
        
            <div class="section-title">
              <h2 class="text-white">Our Services</h2>
            </div>
                
            <!-- Services Row -->
            <div class="row">
        
              <!-- Customs Clearance Card -->
              <div class="col-md-6">
                <div class="card card-bg" data-aos="fade-up" style="border-radius: 15px;">
                  <img src="{% static 'assets/img/services/customsclearance.jpg' %}" style="border-radius: 2rem; height: 300px;" alt="Image"
                    class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title"><strong>CUSTOMS CLEARANCE</strong></h4>
                    <p class="card-text" style="text-align: justify;">
                      Our customs clearance services guarantee a seamless and trouble-free process for clearing goods through customs
                      procedures, meticulously ensuring adherence to all regulatory requirements.
                    </p>
                  </div>
                </div>
              </div>
        
              <!-- Tax Consultancy Card -->
              <div class="col-md-6">
                <div class="card card-bg" data-aos="fade-up" style="border-radius: 15px;">
                  <img src="{% static 'assets/img/services/taxconsultancy.jpg' %}" style="border-radius: 2rem; height: 300px;" alt="Image"
                    class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title"><strong>TAX CONSULTANCY</strong></h4>
                    <p class="card-text" style="text-align: justify;">
                      Our specialized tax consultation services offer invaluable guidance and strategic solutions aimed at optimizing our
                      clients' tax-related concerns.
                    </p>
                  </div>
                </div>
              </div>
        
              <!-- Tax Declaration Training Card -->
              <div class="col-md-6">
                <div class="card card-bg" data-aos="fade-up" style="border-radius: 15px;">
                  <img src="{% static 'assets/img/services/taxdeclarationtraining.png' %}" style="border-radius: 2rem; height: 300px;"
                    alt="Image" class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title"><strong>TAX DECLARATION TRAINING</strong></h4>
                    <p class="card-text" style="text-align: justify;">
                      We provide tailored training programs focused on tax declaration procedures, empowering businesses to adeptly manage
                      their tax obligations with efficiency and confidence.
                    </p>
                  </div>
                </div>
              </div>
        
              <!-- Cargo Transportation Card -->
              <div class="col-md-6">
                <div class="card card-bg" data-aos="fade-up" style="border-radius: 15px;">
                  <img src="{% static 'assets/img/services/cargotransportation.png' %}" style="border-radius: 2rem; height: 300px;" alt="Image"
                    class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title"><strong>CARGO TRANSPORTATION</strong></h4>
                    <p class="card-text" style="text-align: justify;">
                      We specialize in delivering cargo with efficiency and reliability, ensuring that goods reach their destinations securely
                      and on schedule.
                    </p>
                  </div>
                </div>
              </div>
        
            </div>
        
            <!-- Additional content as needed -->
            <!-- ... -->
        
          </div>
        </section>

        {% include 'includes/profilemodal.html' %}

        {% include 'passwordmgt/pw_change_form.html' %}
        <!--================ End Modal Area =================-->

        <!-- ======= Clients Section ======= -->
        {% include 'includes/clients.html' %}
        <!-- End Clients Section -->

      </main>
      <!-- End #main -->

      <!-- === End After Login View,  Admin === -->

    {% include 'includes/footer.html' %}

  </body>
</html>