<!DOCTYPE html>
<html lang="en">

  {% load static %}

  <title>GEROMA - TEAM</title>

  {% include 'includes/head.html'%}

      <style>
        .card-bg {
          background: rgba(5, 87, 158, 0.7);
          border-radius: 2.5rem;
          margin-bottom: 30px;
          padding: 30px;
          text-align: center;
        }
      
        .card-bg .card-title {
          /* font-size: 30px;
              font-weight: 700; */
          margin-bottom: 10px;
          color: #fff;
        }
      
        .card-bg .card-text {
          font-size: 20px;
          line-height: 1.6;
          color: #fff;
        }
      
        .card-bg img {
          border-radius: 25%;
        }
      
        .history-social a {
          color: #fff;
          margin-right: 10px;
        }
      </style>

  <body>

    {% include 'includes/header.html' %}

      <!-- === After Login View, Admin === -->
      
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex justify-cntent-center align-items-center">


        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
          <div class="carousel-item active">
            <div class="carousel-container">
              <img src="{% static 'assets/img/geromalogoicon.png' %}" style="border-radius: 2rem;" alt="">
              <h2 class="animate__animated animate__fadeInDown">OUR TEAM</h2>
            </div>        
          </div>
        </div>
        
      </section>
      <!-- End Hero -->

      <!-- Main -->
      <main id="main">
        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
          <div class="container" data-aos="fade-up">
        
            <div class="section-title">
              <!-- <h2 class="text-white">Our Team</h2> -->
            </div>
        
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Mr. Otyama Francis</h4>
                    <span>Executive Director</span>
                    <p align="justify">
                      Francis joined Geroma Ltd in 2012. Prior to this, he enjoyed a successful and varied one decade with Uganda Revenue
                      Authority (URA), including the implementation of One Border Stop Point (OSBP) and 24 Hour operation at Malaba Border to
                      facilitate faster clearance of cargo, as Acting Supervisor from June 2009 to November 2011, he established the station’s
                      most successful regional division , where he was instrumental in developing new Customs processes and capabilities.. He
                      voluntarily retired from Customs after 10+ years in the Collection area and 1+ years at the Customs head office Tariff
                      technical unit
                      
                      He has held several international assignments in various countries, including development of training curriculums for
                      Customs master trainers and training of Customs officers and Customs agents within the East African Community.
                    </p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3"></div>

              <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="200">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Mrs. Otyama Rachel</h4>
                    <span>Director</span>
                    <p align="justify">As the Director, Mrs. Otyama Rachel oversees and guides the pursuit of greater achievements while embracing the
                      pleasures of the journey. Her focus lies in understanding and presenting opportunities that empower and uplift those
                      involved.</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="300">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="{% static 'assets/img/team/Elijah1.jpg' %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Mr. Kadama Elijah Andrew</h4>
                    <span>Manager</span>
                    <p align="justify">Mr. Kadama Elijah Andrew is a dedicated Manager known for his exceptional leadership skills and commitment to
                      achieving organizational goals. He excels in navigating complex challenges, fostering teamwork, and delivering
                      high-quality results. His approachable nature and expertise make him adept at facilitating seamless operations within
                      the workplace.</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="400">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="{% static 'assets/img/team/Alele1.jpg' %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Mr. Alele Ronald</h4>
                    <span>Customs Declarant</span>
                    <p>As a Customs Declarant, I specialize in managing and overseeing the declaration process for goods, ensuring compliance with customs regulations and facilitating smooth import and export procedures. My role involves meticulously handling and documenting the necessary paperwork, ensuring accuracy, and adhering to legal requirements, ultimately contributing to efficient international trade.</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="400">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="{% static 'assets/img/team/Sonia2.jpg' %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Mrs. Anena Sonia</h4>
                    <span>Customs Declarant</span>
                    <p>As a Customs Declarant, I specialize in managing and overseeing the declaration process for goods, ensuring compliance with customs regulations and facilitating smooth import and export procedures. My role involves meticulously handling and documenting the necessary paperwork, ensuring accuracy, and adhering to legal requirements, ultimately contributing to efficient international trade.</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="400">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Mrs. Owachgiu Osbert</h4>
                    <span>Customs Declarant</span>
                    <p>As a Customs Declarant, I specialize in managing and overseeing the declaration process for goods, ensuring compliance with customs regulations and facilitating smooth import and export procedures. My role involves meticulously handling and documenting the necessary paperwork, ensuring accuracy, and adhering to legal requirements, ultimately contributing to efficient international trade.</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="400">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="{% static 'assets/img/team/Emma1.jpg' %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Mrs. Wambuka Emmanuel</h4>
                    <span>Customs Declarant</span>
                    <p>As a Customs Declarant, I specialize in managing and overseeing the declaration process for goods, ensuring compliance with customs regulations and facilitating smooth import and export procedures. My role involves meticulously handling and documenting the necessary paperwork, ensuring accuracy, and adhering to legal requirements, ultimately contributing to efficient international trade.</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="400">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="{% static 'assets/img/team/Ronnie1.jpg' %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Mrs. Latim Ronnie David</h4>
                    <span>IT Support And Consultant</span>
                    <p align="justify">As an experienced IT Support and Consultant, I specialize in providing comprehensive technical assistance, resolving
                      complex issues, and offering strategic guidance to optimize IT infrastructures. My expertise spans across
                      troubleshooting, system analysis, and implementing innovative solutions to streamline operations and enhance overall
                      efficiency. I am committed to delivering top-notch support and consultancy services, ensuring seamless functionality
                      and technological advancements for my clients.</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
        
            </div>
        
          </div>
        </section>
        <!-- End Team Section -->

        <!-- ======= Clients Section ======= -->
        {% include 'includes/clients.html' %}
        <!-- End Clients Section -->

      </main>
      <!-- End #main -->
      <!-- === End After Login View,  Admin === -->

    {% include 'includes/footer.html' %}

  </body>

</html>