<!DOCTYPE html>
<html lang="en">

  {% load static %}

  <title>SICA MUBS - PROJECTS</title>

  {% include 'includes/head.html'%}

<body>
  {% include 'includes/header.html' %}

  {% if user.is_superuser %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">

    <div class="wave">

        <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
              <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
            </g>
          </g>
        </svg>

      </div>

    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
      <div class="carousel-item active">
        <div class="carousel-container">
          <img src="{% static 'assets/img/NewSica.jpg' %}" style="width: 150px; height: 75px; border-radius: 2rem;" alt="">
          <h2 class="animate__animated animate__fadeInDown">SICAMUBS ORDERS</h2>
        </div>
      </div>
    </div>
    </section>
    <!-- End Hero -->

    <!-- Main -->
    <main id="main">

      <!-- ======= Project Section ======= -->
      <section id="project" class="project section-bg">
        <div class="container" data-aos="fade-up">

          <div class="section-title"></div>
  
          <div class="row">
            <div class="row text-center">
              <h4>SICA FEATURES ORDERS</h4>
            </div>
            

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="text-center">
                    <th scope="col">ORDER ID</th>
                    <th scope="col">SICA MEMBER NAME</th>
                    <th scope="col">SICA MEMBER EMAIL</th>
                    <th scope="col">SICA MEMBER CONTACT</th>
                    <th scope="col">EXECUTIVE SHIRT ORDERS</th>
                    <th scope="col">SICAMUBS T-SHIRT ORDERS</th>
                    <th scope="col">SICAMUBS ID</th>
                    <th scope="col">ORDER STATUS</th>
                    <th scope="col">ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  {% for View_Order in View_Orders %}
                    <form action="/submitorderstatus/" method="POST">
                      {% csrf_token %}
                        <tr class="text-center">
                          <td><input readonly class="text-center" name="order_id" id="order_id" style="border-radius: 1rem; width: 50px;" value="{{ View_Order.id }}"></td>
                          <td>{{ View_Order.order_name }}</td>
                          <td>{{ View_Order.order_email }}</td>
                          <td>{{ View_Order.order_contact }}</td>
                          <td>{{ View_Order.order_exec_shirt }}</td>
                          <td>{{ View_Order.order_tshirt }}</td>
                          <td>{{ View_Order.order_sicaid }}</td>
                          <td>
                            <select class="form-control" id="order_status" name="order_status" style="border-radius: 1rem; width: fit-content;" required>
                              <option value="{{ View_Order.order_status }}">{{ View_Order.order_status }}</option>
                              <option value="ORDER CONFIRMED">ORDER CONFIRMED</option>
                              <option value="ORDER CANCELLED">ORDER CANCELLED</option>
                            </select>
                          </td>
                          <td><button type="submit" class="btn btn-feature" ><strong>SUBMIT STATUS</strong></button></td>
                        </tr>
                    </form>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!-- End Project Section -->

        <!-- ======= Modal Area ======= -->
        {% include 'includes/profilemodal.html' %}

        {% include 'passwordmgt/pw_change_form.html' %}
        <!-- ======= End Modal Area ======= -->

        <!-- ======= Clients Section ======= -->
        {% include 'includes/clients.html' %}
        <!-- End Clients Section -->

    </main>
    <!-- End #main -->

  {% elif user.is_staff %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">

      <div class="wave">
  
          <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
              </g>
            </g>
          </svg>
  
        </div>
  
      <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
        <div class="carousel-item active">
          <div class="carousel-container">
            <img src="{% static 'assets/img/NewSica.jpg' %}" style="width: 150px; height: 75px; border-radius: 2rem;" alt="">
            <h2 class="animate__animated animate__fadeInDown">SICAMUBS ORDERS</h2>
          </div>
        </div>
      </div>
      </section>
      <!-- End Hero -->
  
      <!-- Main -->
      <main id="main">
  
        <!-- ======= Project Section ======= -->
        <section id="project" class="project section-bg">
          <div class="container" data-aos="fade-up">
  
            <div class="section-title"></div>
    
            <div class="row">
              <div class="row text-center">
                <h4>SICA FEATURES ORDERS</h4>
              </div>
              <table class="table">
                <thead>
                  <tr class="text-center">
                    <th scope="col">ORDER ID</th>
                    <th scope="col">SICA MEMBER NAME</th>
                    <th scope="col">SICA MEMBER COURSE</th>
                    <th scope="col">SICA MEMBER YOS</th>
                    <th scope="col">SICA MEMBER EMAIL</th>
                    <th scope="col">SICA MEMBER CONTACT</th>
                    <th scope="col">EXECUTIVE SHIRT ORDERS</th>
                    <th scope="col">SICAMUBS T-SHIRT ORDERS</th>
                    <th scope="col">SICAMUBS ID</th>
                    <th scope="col">ORDER STATUS</th>
                    <th scope="col">ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  {% for View_Order in View_Orders %}
                    <form action="/submitorderstatus/" method="POST">
                      {% csrf_token %}
                        <tr class="text-center">
                          <td><input readonly class="text-center" name="order_id" id="order_id" style="border-radius: 1rem;" value="{{ View_Order.id }}"></td>
                          <td>{{ View_Order.order_name }}</td>
                          <td>{{ View_Order.order_course }}</td>
                          <td>{{ View_Order.order_yos }}</td>
                          <td>{{ View_Order.order_email }}</td>
                          <td>{{ View_Order.order_contact }}</td>
                          <td>{{ View_Order.order_exec_shirt }}</td>
                          <td>{{ View_Order.order_tshirt }}</td>
                          <td>{{ View_Order.order_sicaid }}</td>
                          <td>
                            <select class="form-control" id="order_status" name="order_status" style="border-radius: 1rem;" required>
                              <option value="{{ View_Order.order_status }}">{{ View_Order.order_status }}</option>
                              <option value="ORDER CONFIRMED">ORDER CONFIRMED</option>
                              <option value="ORDER CANCELLED">ORDER CANCELLED</option>
                            </select>
                          </td>
                          <td><button type="submit" class="btn btn-feature" ><strong>SUBMIT STATUS</strong></button></td>
                        </tr>
                    </form>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <!-- End Project Section -->
  
          <!-- ======= Modal Area ======= -->
          {% include 'includes/profilemodal.html' %}
  
          {% include 'passwordmgt/pw_change_form.html' %}
          <!-- ======= End Modal Area ======= -->
  
          <!-- ======= Clients Section ======= -->
          {% include 'includes/clients.html' %}
          <!-- End Clients Section -->
  
      </main>
      <!-- End #main -->

  {% elif user.is_active %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">

    <div class="wave">

        <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
              <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
            </g>
          </g>
        </svg>

      </div>

    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
      <div class="carousel-item active">
        <div class="carousel-container">
          <img src="{% static 'assets/img/NewSica.jpg' %}" style="width: 150px; height: 75px; border-radius: 2rem;" alt="">
          <h2 class="animate__animated animate__fadeInDown">SICA EXECUTIVES PAGE ONLY</h2>
        </div>
      </div>
    </div>
    </section>
    <!-- End Hero -->

    <!-- Main -->
    <main id="main">

      <!-- ======= Project Section ======= -->
      <section id="project" class="project section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title"></div>
          <div class="row">
            <h4>YOU ARE NOT AUTHORISED TO VIEW THIS PAGE, FOR SICA EXECUTIVES ONLY. <a href="\"><strong>HOME</strong></a></h4>
          </div>
        </div>
      </section>
      <!-- End Project Section -->

     <!-- ======= Clients Section ======= -->
     {% include 'includes/clients.html' %}
     <!-- End Clients Section -->

    </main>
    <!-- End #main -->

  {% else %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">

    <div class="wave">

        <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
              <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
            </g>
          </g>
        </svg>

      </div>

    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
      <div class="carousel-item active">
        <div class="carousel-container">
          <img src="{% static 'assets/img/NewSica.jpg' %}" style="width: 150px; height: 75px; border-radius: 2rem;" alt="">
          <h2 class="animate__animated animate__fadeInDown">SICA EXECUTIVES PAGE ONLY</h2>
        </div>
      </div>
    </div>
    </section>
    <!-- End Hero -->

    <!-- Main -->
    <main id="main">

      <!-- ======= Project Section ======= -->
      <section id="project" class="project section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title"></div>
          <div class="row">
            <h4>YOU ARE NOT AUTHORISED TO VIEW THIS PAGE, FOR SICA EXECUTIVES ONLY. <a href="\"><strong>HOME</strong></a></h4>
          </div>
        </div>
      </section>
      <!-- End Project Section -->

     <!-- ======= Clients Section ======= -->
     {% include 'includes/clients.html' %}
     <!-- End Clients Section -->

    </main>
    <!-- End #main -->

  {% endif %}

  {% include 'includes/footer.html' %}

</body>
</html>