<!DOCTYPE html>
<html lang="en">

  {% load static %}
  
  <title>SICA MUBS - RESET SICA ACCOUNT PASSWORD</title>

  {% include 'includes/head.html'%}

  <body>

    {% include 'includes/header.html' %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">

      <div class="wave">

          <svg width="1920px" height="215px" viewBox="0 0 1920 215" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
              </g>
            </g>
          </svg>

        </div>

      <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
        <div class="carousel-item active">
          <div class="carousel-container">
            <img src="{% static 'assets/img/NewSica.jpg' %}" style="width: 150px; height: 75px; border-radius: 2rem;" alt="">
            <h2 class="animate__animated animate__fadeInDown">RESET SICA ACCOUNT PASSWORD</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!--================ Model Area =================-->
    {% include 'includes/profilemodal.html' %}
    <!--================ End Modal Area =================-->

    <!-- ======= Password Reset Confirm Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title"></div>

        <div class="row mt-1 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">

          <div class="col-md-3"></div>

          <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
            <form method="POST"  class="contact-form">
              {% csrf_token %}
                <div class="form-group">
                  <div class="text-center text-white">
                    <h4><strong>RESET SICA ACCOUNT PASSWORD</strong></h4>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" id="new_password1" name="new_password1" class="form-control" style="border-radius: 10rem;"  placeholder="Enter New Password" required>
                </div>
                <div class="form-group">
                  <input type="password" id="new_password2 " name="new_password2" class="form-control" style="border-radius: 10rem;" placeholder="Confirm New Password" required>
                </div>
                <div class="form-group">
                  <div class="text-center">
                    <button type="submit">SUBMIT</button>
                  </div>
                </div>
            </form>
          </div>

          <div class="col-md-3"></div>

        </div>
      </div>
    </section>
    <!-- Password Reset Confirm Section -->

    <!-- ======= Clients Section ======= -->
    {% include 'includes/clients.html' %}
    <!-- End Clients Section -->


    {% include 'includes/footer.html' %}

  </body>
</html>
